<header>
  <ul class="time-bar"> 
    <div class="time-counter">{{ this.time }}</div>
    <li *ngFor="let bar of this.bars"></li> 
  </ul>
</header>

<div class="type-container">
  <div class="type-data">
    <span [ngStyle]="{'opacity': this.opacity}">{{ this.randomString }}</span>
    <div class="type-input">
      <span *ngFor="let letter of letters; let i = index;" [ngClass]="{'red': !checkLetter(letter, i)}">
      {{ this.letter }}
      </span> 
      <div class="cursor"></div>
    </div>
  </div>
</div>

<div class="score">
    <span>
      <span>Попадения:</span> {{ this.score.yay }}
    </span>
    <span>
      <span>Грешки:</span> {{ this.score.nay }}
    </span>
</div>
