<header>
  <ul class="time-bar"> 
    <div class="time-counter">{{ this.time }}</div>
    <li *ngFor="let bar of this.bars"></li> 
  </ul>
</header>

<div class="type-container">
  <div class="type-data">
    <span class="type-string" [ngStyle]="{'opacity': this.opacity}">{{ this.randomString }}</span>
    <div class="type-input">
      <span *ngFor="let letter of letters; let i = index;" [ngClass]="{'red': !stylekLetter(letter, i)}">
      {{ this.letter }}
      </span> 
      <div class="cursor"></div>
    </div>
  </div>
</div>

<div class="score">
    <span>
      <span>Попадения:</span> {{ this.score.yayWords }}
    </span>
    <span>
      <span>Грешни думи:</span> {{ this.score.nayWords }}
    </span>
    <span>
      <span>Грешни букви:</span> {{ this.score.nayLetters }}
    </span>
    <span>
      <span> Средна скорост:</span> {{ this.averageSpeed.toFixed(3) }} секунди на дума
    </span>
</div>
