<header>
  <ul class="time-bar"> 
    <div class="time-counter">{{ this.time }}</div>
    <li *ngFor="let bar of this.bars"></li> 
  </ul>
</header>

<div class="type-container">
  <div class="type-data">
    <span class="type-string" [ngStyle]="{'opacity': this.opacity}">{{ this.randomString }}</span>
    <div class="type-input">
      <span *ngFor="let letter of letters; let i = index;" [ngClass]="{'red': !stylekLetter(letter, i)}">
      {{ this.letter }}
      </span> 
      <div class="cursor"></div>
    </div>
  </div>
</div>

<div class="score-container">
    <span class="score main-score">
      <span>Попадения думи:</span> 
      <span class="score-value">{{ this.score.yayWords }}</span> <br>
    </span>
    <span class="score secondary-score">
      <span>Попадения букви:</span> 
      <span class="score-value">{{ this.score.yayLetters }}</span> <br>
    </span>
    <hr>
    <span class="score main-score">
      <span>Грешни думи:</span> 
      <span class="score-value">{{ this.score.nayWords }}</span> <br>
    </span>
    <span class="score secondary-score">
      <span>Грешни букви:</span> 
      <span class="score-value">{{ this.score.nayLetters }}</span> <br>
    </span>
    <hr>
    <span class="score speed-score">
      <span>Средна скорост:</span> 
      <span class="score-value">{{ this.averageSpeed.toFixed(3) }} секунди на дума </span> 
    </span>
</div>
